.input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.input__box{
    width: 100%;    
    padding: 1rem;
    margin: 1.5rem 0;
    border-radius: 40px;
    border: none;
    transition: 0.3s;
    box-shadow: inset 0 0 2px black;
    font-size: 0.8em;
}
.input__box:focus{
    outline: none;
    box-shadow: 0 0 0 1000vh rgba(0, 0, 0, 0.5);
}
.input__button{
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 4px;
    right: 0;
    border-radius: 40px;
    border: none;
    background: var(--color-secondary);
    color: var(--color-white);
    font-size: 0.8em;
    font-family: var(--font-family);
    cursor: pointer;
    box-shadow: 0 0 5px var(--color-grey);
    transition: 0.2s;
}
.input__button:hover{
    background: var(--color-primary);
    transform: scale(0.9);
}

