.todoList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    z-index: 1;
}
.todoList__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.todoList__content{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.todoList__title{
    flex-basis: 100%;
    font-family: var(--font-family);
    font-size: 0.7em;
    font-weight: 600;
    color: var(--color-primary);
    padding: 0.5rem;
    margin: 1rem 0.1rem;
    background-color: var(--color-white);
    border-radius: 1rem;
    
}
.todoList__title h2{
    text-align: center;
}

.dragactive{
    border: 2px dashed var(--color-secondary);
    border-radius: 1rem;
    padding: 0.2rem;
}
.dragurgent{
    border: 2px solid var(--color-secondary);
    border-radius: 1rem;
    padding: 0.2rem;
}
@media screen and (min-width: 1200px) {
    .todoList__title{
        font-size: 1.2em;
        border-radius: 1.5rem;
        margin: 1rem 0.2rem;
    }
    .dragactive{
        border: 3px dashed var(--color-secondary);
        border-radius: 1.5rem;
        padding: 0.8rem;
    }
    .dragurgent{
        border: 3px solid var(--color-secondary);
        border-radius: 1.5rem;
    }
}
