* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  margin: 0 auto;
}

.gradient__bg {
  /* global 92%+ browsers support */
  background: radial-gradient(circle at 49% 53%, rgba(246, 246, 246, 1) 0%, rgba(0, 188, 212, 1) 50%, rgba(100, 111, 212, 1) 100%);
}

.section__padding {
  padding: 1rem;
}

.section__margin {
  margin: 1rem 2rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.App{
  width: 100vw;
  min-height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
}
.App__circle-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.App__circle--right {
  aspect-ratio: 1/1;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-20%, -50%);
  border-radius: 50%;
  background: var(--gradient-bgBig);
}
.App__circle--left {
  aspect-ratio: 1/1;
  width: 80%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate( -90%, -50%);
  border-radius: 50%;
  background: var(--gradient-bgSmall);
}
.App__content {
  width: 100%;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .App__circle--right {
    transform: translate(-20%, -70%);
  }
  .App__circle--left {
    transform: translate( -90%, -70%);
  }
}
