* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  margin: 0 auto;
}

.gradient__bg {
  /* global 92%+ browsers support */
  background: radial-gradient(circle at 49% 53%, rgba(246, 246, 246, 1) 0%, rgba(0, 188, 212, 1) 50%, rgba(100, 111, 212, 1) 100%);
}

.section__padding {
  padding: 1rem;
}

.section__margin {
  margin: 1rem 2rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.App{
  max-width: 1000px;
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.App__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}